<div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="card is-fullwidth">
          <div class="card-header">
            <h1 class="card-header-title">Manufacturers</h1>
          </div>
          <div class="card-content">
            <table class="table is-striped">
              <thead>
                <tr>
                  <th>Manufacturer</th>
                  <th>Country</th>
                  <th>No. of Models</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each model as |brands|}}
                <tr>
                  <td>{{brands.name}}</td>
                  <td>{{brands.country}}</td>
                  <td>{{brands.cars.length}}</td>
                  <td>{{#link-to "manufacturer.car" manufacturer}}See More{{/link-to}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


{{outlet}}
