
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="card is-fullwidth">
          <div class="card-header">
            <h1 class="card-header-title">Hello</h1>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p><strong>Welcome to Razer Cars!</strong></p>
                <p>Your one stop shop for all your car stats needs!</p>
              </div>
              {{#link-to 'manufacturers' class="button is-dark is-focused" }}See All Manufacturers{{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
