<div class="nav">
  <div class="container">
    <div class="nav-left">
      <a href="#" class="nav-item">Razer Cars</a>
    </div>
    <div class="nav-right">
      <a href="" class="nav-item is-tab">Home</a>
      <a href="" class="nav-item is-tab">All Manufacturers</a>
      <a href="" class="nav-item is-tab">Add Manufacturer</a>
    </div>
  </div>
</div>
