<div class="columns">
  <div class="column is-10 is-offset-1">
    <div class="card is-fullwidth">
      <div class="card-header">
        <h1 class="card-header-title">Mazda</h1>
      </div>
      <div class="media">
        <a href="" class="media-content button is-dark is-focused is-pulled-right">Add New Car</a>
      </div>
    </div>
  </div>
</div>


{{outlet}}
