<div class="nav has-shadow">
  <div class="container is-fluid">
    <div class="nav-left">
      <h1 class="nav-item is-brand">
        {{#link-to 'index' class="nav-item is-active"}}<strong>Razer Cars</strong>{{/link-to}}
      </h1>
    </div>
    <div class="nav-right">
      {{#link-to 'index' class="nav-item is-tab"}}Home{{/link-to}}
      {{#link-to 'manufacturers' class="nav-item is-tab"}}All Manufacturers{{/link-to}}
      {{#link-to 'manufacturers-new' class="nav-item is-tab"}}Add Manufacturer{{/link-to}}
    </div>
  </div>
</div>

<div class="section is-large">
  <div class="container">
    {{outlet}}
  </div>
</div>
